<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./styles/styles.css" />
    <link rel="shortcut icon" href="./img/favicon.ico">
    <title>오늘 우리 학교는?</title>
  </head>
  <body>
    <main class="flex w-full h-full">
      <header class="flex-col max-h-full w-1/5 bg-headercolor">
        <div class="flex justify-center mt-12"><h1 class="text-white font-bold text-3xl" id="today_date">2022년 3월 2일 수요일</h1>
        </div>
        <div class="flex justify-center mt-6" >
          <img src="./img/logo.png" alt="logo" class="w-36 h-32"></img>
        </div>
        <div class="flex-col mt-6">
          <p style="text-align:center" class="text-white font-bold text-4xl mb-2">오늘도 행복한</p>
          <p style="text-align:center" class="font-bold text-4xl text-[#F7B9B2]">서원초등학교</p>
        </div>
        <div class="flex-col  bg-white w-auto h-3/5 mt-8 mx-8 p-8">
          <div class="title_border"><h1 class="card_title_text">오늘의 날씨</h1></div>
          <div class="flex justify-center mt-8" id="weather_lottie_parent">
            <!-- <lottie-player src="https://assets6.lottiefiles.com/packages/lf20_nMuEto.json"  background="transparent"  speed="1" loop autoplay class="w-44 h-44"></lottie-player> -->
          </div>
          <div class="flex justify-center mt-4">
            <h1 class="font-bold text-2xl"></h1>
          </div>
          
          <div class="flex justify-center mt-8">
            <table  style="
            border-collapse: separate;
            border-spacing: 1px;
            text-align: center;
            line-height: 1.5;
            border-top: 1px solid #ccc;
            margin : 20px 10px 1px 10px;">
              <tr>
                <th  rowspan="2" scope="row" style="
                width: 250px;
                padding: 2px;
                font-weight: bold;
                vertical-align: top;
                border-bottom: 1px solid #ccc; vertical-align:middle;" class="table_head_text">미세먼지</th>
                
                <td id="dust_mise_grade" style="
                width: 170px;
                padding: 2px;
                vertical-align: top;
                " align="center">보통 </td>

              </tr>
              <tr>
                <td id="dust_mise" style="
                width: 170px;
                padding: 2px;
                vertical-align: top;
                border-bottom: 1px solid #ccc;" align="center">30cm</td>
              </tr>
              <tr>
                <th rowspan="2" scope="row" style="
                width: 250px;
                padding: 2px;
                font-weight: bold;
                vertical-align: top;
                border-bottom: 1px solid #ccc; vertical-align:middle;" class="table_head_text">초미세먼지</th>
                <td id="dust_cho_mise_grade" style="width: 170px;
                padding: 2px;
                vertical-align: top;
                " align="center">보통 </td>
              </tr>
              <tr>
                <td id="dust_cho_mise" style="
                width: 170px;
                padding: 2px;
                vertical-align: top;
                border-bottom: 1px solid #ccc;" align="center">30ym</td>
              </tr>


              <tr>
                <th scope="row" style="
                width: 250px;
                padding: 2px;
                font-weight: bold;
                vertical-align: top;
                border-bottom: 1px solid #ccc;" class="table_head_text">현재기온</th>
                <td style="
                width: 170px;
                padding: 2px;
                vertical-align: top;
                border-bottom: 1px solid #ccc;" align="center" id="T1H">-10</td>
              </tr>
              <tr>
                <th scope="row" style="
                width: 250px;
                padding: 2px;
                font-weight: bold;
                vertical-align: top;
                border-bottom: 1px solid #ccc;" class="table_head_text">하늘상태</th>
                <td style="
                width: 170px;
                padding: 2px;
                vertical-align: top;
                border-bottom: 1px solid #ccc;" align="center" id="PTY">빗방울</td>
              </tr>
              <tr>
                <th scope="row" style="
                width: 250px;
                padding: 2px;
                font-weight: bold;
                vertical-align: top;
                border-bottom: 1px solid #ccc;" align="center" class="table_head_text">습도</th>
                <td style="
                width: 170px;
                padding: 2px;
                vertical-align: top;
                border-bottom: 1px solid #ccc;" align="center" id="REH">25.2mm</td>
              </tr>
              
            </table>
          </div>
          <div class="flex justify-end text-sm mt-2">
            <h1>※ 업데이트: </h1>
            <h1 id="update_time">22/03/04 12:45</h1>
          </div>
        </div>
        <div class="text-sm ml-8 mt-2 text-white" align="left">
          <h1>※ 데이터제공 : 환경부/한국환경공단 제공</h1>
          <h1>※ 실시간 제공 데이터이므로 오류가 있을 수 있음.</h1>
        </div>
      </header>
      <content class="flex max-h-full space-x-4 w-4/5 p-16 bg-sectioncolor">
        <section class="flex-col space-y-8 max-h-full w-2/3 static">
          <div class="h-1/2 bg-white p-8 relative">

            <div class="title_border align-middle"><h1 class="card_title_text align-middle">오늘 우리 학교는?</h1></div>
            <div>
              <ul class="list-disc">
                <ul id="schedule" class="list-disc text-gray-900 text-4xl font-normal ml-8 mt-4"></ul>
                <ul id="d_day" class="list-none text-gray-900 text-4xl font-normal ml-8 mt-16">[D-DAY]</ul>
              </ul>
              
            </div>
            

            <div class="absolute  bottom-0 right-0">
              <lottie-player src="https://assets1.lottiefiles.com/packages/lf20_K7aZUG.json"  background="transparent"  speed="1"   loop  autoplay style="width:450px; height:450px;"></lottie-player>
            </div>
            <div>
              <ul id="holiday_ul" class="list-disc text-gray-900 text-4xl font-normal ml-8 mt-4">

              </ul>
            </div>
          </div>
          <div class="flex space-x-4 w-full h-1/2">
            <div class="w-1/2 max-h-full bg-white p-8 relative">
              <div class="title_border">
                <h1 class="card_title_text">오늘의 급식</h1>
              </div>
              <div>
                <ul id="meal_info" class="list-disc text-gray-900 text-4xl font-normal ml-8 mt-4"></ul>
              </div>
              <div class="absolute bottom-0 right-0">
                <lottie-player src="https://assets9.lottiefiles.com/private_files/lf30_rttpmsbc.json"  background="transparent"  speed="2"  style="width: 300px; height: 300px;"  loop  autoplay></lottie-player>

              </div>
            </div>
            <div class="w-1/2 max-h-full bg-white p-8 relative">
              <div class="title_border"><h1 class="card_title_text">오늘 우리들</h1></div>
              <div class="absolute bottom-0 right-0">
                <lottie-player src="https://assets9.lottiefiles.com/private_files/lf30_nmraqqu5.json"  background="transparent"  speed="1"  style="width: 300px; height: 300px;"  loop  autoplay></lottie-player>
              </div>
            </div>
          </div>
        </section>
        <section class="flex-col space-y-4 h-full w-1/3">
          <div class="h-1/3 p-8 bg-white">
            <div class="title_border">
              <h1 class="card_title_text">오늘의 배움</h1>
            </div>
            <div class="flex flex-col w-full h-5/6 justify-center text-center">
              <p id="gongbu"  class="text-4xl">

              </p>
              <p id="mean" class="mt-4 text-3xl">

              </p>
            </div>
          </div>
          <div class="h-1/3 p-8 bg-white">
            <div class="title_border">
              <h1 class="card_title_text">오늘의 명언</h1>
            </div>
            <div class="flex justify-center flex-col w-full h-5/6 items-center text-center">
              <div id="quote" class="text-3xl">

              </div>
              <div id="quote_author" class="text-2xl text-right mt-4 mr-8">

              </div>
            </div>
          </div>
          <div class="h-1/3 pt-8 pr-8 pl-8 bg-white relative">
            <div class="title_border">
              <h1 class="card_title_text" >지금 몇 시지?</h1>
            </div>
            <img src="./img/alarm-clock.png" alt="clock" class="w-20 h-20 absolute top-3 right-28"></img>
            <div class="flex flex-col justify-center w-full h-5/6 text-center" >
             
              <div id="my_clock" class="text-6xl"></div>
              <div id="timetable" class="mt-4 text-3xl"></div>
              
            </div>
          </div>
        </section>
      </content>
    </main>
    
    <script src="/socket.io/socket.io.js"></script>
    <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
    <script>
      
      setTimeout(function(){
        location.reload(true);
      },1000 * 60 * 15); // 3000밀리초 = 3초

      function makeWeatherLottie(miseData){
          
        //로띠에가 만들어져있지 않은 경우
          if(!document.getElementById('lottie_weather')){
            let weather_lottie_parent = document.getElementById('weather_lottie_parent');
            let weather_lottie = document.createElement('lottie-player');
            if(miseData){
              weather_lottie.setAttribute('src', 'https://assets6.lottiefiles.com/packages/lf20_nMuEto.json');
            }else{
              weather_lottie.setAttribute('src', 'https://assets1.lottiefiles.com/packages/lf20_SIpqxt.json');
            }
            
            weather_lottie.setAttribute('background','transparent');
            weather_lottie.setAttribute('speed','1');
            weather_lottie.setAttribute('class','w-32 h-32');
            weather_lottie.setAttribute('id','lottie_weather');
            weather_lottie.setAttribute('loop', '');
            weather_lottie.setAttribute('autoplay', '');
            
            weather_lottie_parent.appendChild(weather_lottie);
            
          }else{
            let weather_lottie_parent = document.getElementById('weather_lottie_parent');
            let weather_lottie = document.getElementsById('lottie_weather');
            weather_lottie_parent.removeChild(weather_lottie);
            let new_weather_lottie = document.createElement('lottie_weather');
            if(miseData){
              new_weather_lottie.setAttribute('src', 'https://assets6.lottiefiles.com/packages/lf20_nMuEto.json');
            }else{
              new_weather_lottie.setAttribute('src', 'https://assets1.lottiefiles.com/packages/lf20_SIpqxt.json');
            }

            new_weather_lottie.setAttribute('background','transparent');
            new_weather_lottie.setAttribute('speed','1');
            new_weather_lottie.setAttribute('class','w-32 h-32');
            new_weather_lottie.setAttribute('id','lottie_weather');
            new_weather_lottie.setAttribute('loop', '');
            new_weather_lottie.setAttribute('autoplay', '');

          }
          
        
        }


      const socket = io.connect('http://localhost:8005', {
        path: '/socket.io',
        transports: ['websocket'],
      });
      

      socket.on('schedule', (today_schedule, dateOfPresentation, dateOfSportsDay, dateOfSwim, dateOfProjectPresentation)=>{
        //오늘의 스케쥴이 null이 아닐 때만 생성
        if(today_schedule != null)  {
          const li = document.createElement("li");
          const textNode = document.createTextNode(today_schedule);
          li.appendChild(textNode);
          document.getElementById('schedule').appendChild(li);
        }
        getDdayString(dateOfPresentation, '교육과정 설명회');
        getDdayString(dateOfSportsDay, '운동회');
        getDdayString(dateOfSwim, '생존수영');
        getDdayString(dateOfProjectPresentation, '프로젝트 발표회');
      });

      //DDAY 뽑아내기
      function getDdayString(str, schedule){
        const setDate = new Date(`${str.slice(0,4)}-${str.slice(4,6)}-${str.slice(6)}T00:00:00+0900`);
        const nowDate = new Date();
        const distance = setDate.getTime() - nowDate.getTime();
        const day = Math.floor(distance/(1000*60*60*24));

        const li = document.createElement('li');
        li.setAttribute('class', 'mt-2');
        const textNode = document.createTextNode(`${schedule}(D- ${day}일)`);
        li.appendChild(textNode);
        document.getElementById('d_day').appendChild(li);
      }



      socket.on('T1H', (data)=>{
        
        if(data != null){
          document.querySelector('#T1H').textContent = `${data} °C`;
          socket.emit('reply', 'T1H(기온) 연결됨');
        }
        

      });

      socket.on('REH', (data)=>{
        
        if(data != null){
          document.querySelector('#REH').textContent = `${data} %`;
          socket.emit('reply', 'REH(습도) 연결됨');
        }
        
      });

      socket.on('PTY', (data)=>{
        let statusPTY;
        switch(data){
          case '0':
            statusPTY = '비 없음';
            break;
          case '1':
            statusPTY = '비';
            break;
          case '2':
            statusPTY = '비/눈';
            break;
          case '3':
            statusPTY = '눈';
            break;
          case '5':
            statusPTY = '빗방울';
            break;
          case '6':
            statusPTY = '빗방울, 눈날림';
            break;
          case '7':
            statusPTY = '눈날림';
            break;
        }
        
        if(statusPTY != null){
          document.querySelector('#PTY').textContent = `${statusPTY}`;
          socket.emit('reply', 'PTY(강수형태) 연결됨');
        }
      });

      socket.on('SKY', (data)=>{
        let statusSKY;
        switch(data){
          case '0', '1', '2', '3', '4', '5':
            statusSKY = '맑음';
            break;
          case '6', '7', '8':
            statusSKY = '구름많음';
            break;
          case '9', '10':
            statusSKY = '흐림';
            break;
          
        }
        // document.querySelector('#SKY').textContent = `${statusSKY}`;
        if(statusSKY != null){
          socket.emit('reply', 'SKY(하늘상태) 연결됨');
        }
        
      });

      socket.on('holiday', (data)=>{

        const currentHolidayData = data;


      })
      
      //미세먼지 데이터
      let miseDustGrade;
      
      
      socket.on('dust', (data) => {
        const currentDustData = data;
        let pm10GradeText;
        let pm25GradeText;
        if(parseInt(currentDustData.pm10Grade1h) >= 3 || parseInt(currentDustData.pm25Grade1h) >= 3){
          miseDustGrade = false;
        }else{
          miseDustGrade = true;
        }

        makeWeatherLottie(miseDustGrade);
        
        switch(currentDustData.pm10Grade1h){
          case '1':
            pm10GradeText = `좋음`;
            break;
          case '2':
            pm10GradeText = `보통`;
            break;
          case '3':
            pm10GradeText = `나쁨`;
            break;
          case '4':
            pm10GradeText = `매우나쁨`;
            break;
        }
        switch(currentDustData.pm25Grade1h){
          case '1':
            pm25GradeText = `좋음`;
            break;
          case '2':
            pm25GradeText = `보통`;
            break;
          case '3':
            pm25GradeText = `나쁨`;
            break;
          case '4':
            pm25GradeText = `매우나쁨`;
            break;
        }
        
        

        if(currentDustData.pm10Value != null){
          document.querySelector('#dust_mise').textContent = `${currentDustData.pm10Value} ㎍/㎥`;
        }
        
        if(currentDustData.pm10Grade1h != null){
          document.querySelector('#dust_mise_grade').textContent = `${pm10GradeText}`;
        }
        
        if(currentDustData.pm25Value != null){
          document.querySelector('#dust_cho_mise').textContent = `${currentDustData.pm25Value} ㎍/㎥`;
        }
        if(currentDustData.pm25Grade1h != null){
          document.querySelector('#dust_cho_mise_grade').textContent = `${pm25GradeText}`;
        }
        if(currentDustData.dataTime != null){
          document.querySelector('#update_time').textContent = `${currentDustData.dataTime}`;

        }
        
        //미세먼지 등급에 따라 로띠에 얼굴 변경.
        
        socket.emit('reply', '미세먼지 데이터 연결됨');
      });
     
      let isWritten = false;
      socket.on('meal', (data) => {
        if(!isWritten){
        if(data == '오늘은 급식 없는 날!!'){
          const li = document.createElement("li");
          const textNode = document.createTextNode(data);
          li.appendChild(textNode);
          
          document.getElementById('meal_info').appendChild(li);
          isWritten = true;
          return;
        }
        const mealDataParse = data.replace(/<br\/>/gm, ' ');
        const final_meal_data = mealDataParse.split(' ');
        for (let i in final_meal_data) { 
          
          const li = document.createElement("li");
          const textNode = document.createTextNode(final_meal_data[i]);
          li.appendChild(textNode);
          
          document.getElementById('meal_info').appendChild(li);

        }
        isWritten = true;
        }

        

      });

      
      //오늘 메인 날짜
      let my_Date = new Date();
      let myYear = my_Date.getFullYear();
      let myMonth = my_Date.getMonth()+1;
      let myDate = my_Date.getDate();
      let myDay = getMyDay();
      function getMyDay(){
        let result;
        switch(my_Date.getDay()){
          case 0:
          result = '일요일';
          break;
          case 1:
          result = '월요일';
          break;
          case 2:
          result = '화요일';
          break;
          case 3:
          result = '수요일';
          break;
          case 4:
          result = '목요일';
          break;
          case 5:
          result = '금요일';
          break;
          case 6:
          result = '토요일';
          break;
        }
        return result;
        
      }

      document.querySelector('#today_date').textContent = `${myYear}년 ${myMonth}월 ${myDate}일 ${myDay}`;

      //지금 몇 시지?
      const clock = document.querySelector('#my_clock');
      const timetable = document.querySelector('#timetable');
      //현재 시각 가져오기
      //12시 이후라면 -12해서 1시로 표현하기. (12시간제)
      //시 자리가 한 자리라면 0을 붙여서 자리수 맞추기.
      function getTime(){
          const time = new Date();
          const hour = (time.getHours() > 12)? time.getHours()-12 : time.getHours();
          const minutes = time.getMinutes();
          const seconds = time.getSeconds();
          //clock.innerHTML = hour +":" + minutes + ":"+seconds;
          clock.textContent = `${hour}시 ${minutes<10 ? `0${minutes}`:minutes}분 ${seconds<10 ? `0${seconds}`:seconds}초`;
          

          //리팩토링
          if(hour == 9){
          if(minutes < 10){
              timetable.textContent = `- 아침활동 -`;
            }else if(minutes >= 10 && minutes < 50){
              timetable.textContent = `- 1교시 -`;
            }else{
              timetable.textContent = `- 2교시 -`;
            }
          }else if(hour == 10){
            if(minutes < 30){
              timetable.textContent = `- 2교시 -`;
            }else{
              timetable.textContent = `- 중간놀이 -`;
            }
          }else if(hour == 11){
            if(minutes < 40){
              timetable.textContent = `- 3교시 -`;
            }else{
              timetable.textContent = `- 4교시 -`;
            }
          }else if(hour == 12){
            if(minutes < 15){
              timetable.textContent = `- 4교시 -`;
            }else{
              timetable.textContent = `- 점심시간 -`;
            }
          }else if(hour == 1){
            if(minutes < 10){
              timetable.textContent = `- 점심시간 -`;
            }else if(minutes >= 10 && minutes < 50){
              timetable.textContent = `- 5교시 -`;
            }else{
              timetable.textContent = `- 6교시 -`;
            }
          }else if(hour == 2){
            if(minutes < 30){
              timetable.textContent = `- 6교시 -`;
            }else if(minutes >= 40){
              timetable.textContent = `- 방과후 7교시 -`;
            }
          }else if(hour == 3){
            if(minutes <= 20){
              timetable.textContent = `- 방과후 7교시 -`;
            }else if(minutes > 20 && minutes <=50){
              timetable.textContent = `- 방과후 8교시 -`;
            }else{
              timetable.textContent = `- 에듀버스 탑승 -`;
            }
          }
      }
      
      //인터벌 생성. 1초마다 반복
      function timerInit(){
          setInterval(getTime, 1000);
      }
      timerInit();

      //텍스트파일 불러오기
      //영어, 사자성어, 명언
      
      const today_english = getContentFromTxt('./text/english_word.txt');
      const today_phrase = getContentFromTxt('./text/phrase.txt');
      const today_quote = getContentFromTxt('./text/quote.txt');

      //엘레멘트 가져오기
      const quote = document.querySelector('#quote'); //명언
      const quote_author = document.querySelector('#quote_author'); //명언 말한 사람
      const gongbu = document.querySelector('#gongbu'); //영어단어
      const mean = document.querySelector('#mean'); //영단어 뜻
      

      //명언 넣기
      quote.textContent = `${today_quote.split('*')[0]}`;
      quote_author.textContent = `- ${today_quote.split('*')[1]}`;

      //사자성어 먼저 넣기(영어는 30분 뒤 바뀜)
      gongbu.textContent = `${today_phrase.split('*')[0]}`;
      mean.textContent = `${today_phrase.split('*')[1]}`;

      let isPhrase = true;
      function makeTodayStudyInfo(){
        if(isPhrase){
          gongbu.textContent = `${today_english.split('*')[0]}`;
          mean.textContent = `${today_english.split('*')[1]}`;
          isPhrase = false;
        }else{
          gongbu.textContent = `${today_phrase.split('*')[0]}`;
          mean.textContent = `${today_phrase.split('*')[1]}`;
          isPhrase = true;
      }
      }
      function studyInfotimerInit(){
          setInterval(makeTodayStudyInfo, 15000);
      }
      studyInfotimerInit();

     
      
      //파일에서 데이터 랜덤으로 뽑아내기
      function getContentFromTxt(url){
      let content = null;
      let result_array;
      let xmlhttp = new XMLHttpRequest();
      xmlhttp.open('GET', url, false);
      xmlhttp.send();
      //파일 로드 성공 시 파일에서 읽은 텍스트를 content에 담음
      if (xmlhttp.status == 200) {
        content = xmlhttp.responseText;
        result_array = content.split('\n');
      }
      return result_array[Math.floor(Math.random() * result_array.length)];
      }
      
      
      

    </script>
    
  </body>
</html>
