<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../public/styles/styles.css" />
    <title>Document</title>
  </head>
  <body>
    <main class="flex w-full h-full">
      <header class="max-h-full w-1/6 bg-blue-500">
        <div>
          <h1>Hello, World!</h1>
          <h2>Hello, World!</h2>
        </div>
      </header>
      <content>
        <section>
          <div class="w-10 h-10 bg-blue-500">
            <h1>Section1</h1>
          </div>
          <div class="w-10 h-10 bg-yellow-500">
            <h1>Section2</h1>
          </div>
        </section>
        <section>
          <div class="w-10 h-10 bg-red-500">
            <h1>Section3</h1>
          </div>
          <div class="w-10 h-10 bg-slate-500">
            <h1>Section4</h1>
          </div>
          <div class="w-10 h-10 bg-teal-500">
            <h1>Section5</h1>
          </div>
        </section>
      </content>
    </main>
  </body>
</html>
